<ion-content style="text-align: center;">
  <ion-item lines="none">
    <div class="signup">
      <img
      class="profile-pic"
      src="https://cdn4.iconfinder.com/data/icons/e-commerce-181/512/477_profile__avatar__man_-512.png">
      <ion-label>Sign up with email</ion-label>
      <ion-button [routerLink]="['/signup1']" class="bttn1">Sign Up</ion-button>
      <ion-button [routerLink]="" class="bttn1">Log In</ion-button>
      <ion-button fill="none" [routerLink]="" class="bttn2"><u>Forgot Password</u></ion-button>
    </div>
  </ion-item>
</ion-content>
