<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-icon
        name="chevron-back-circle-outline"
        size="large"
        [routerLink]="['/signup6']"
        routerDirection="back"
      ></ion-icon>
    </ion-buttons>
    <ion-title><b>You&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon
        name="chevron-forward-circle-outline"
        size="large"
        [routerLink]="['/signup7']"
        routerDirection="forward"
      ></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bars">
    <div class="sel"></div>
    <div class="sel"></div>
    <div class="sel"></div>
    <div class="sel"></div>
    <div class="sel"></div>
    <div class="sel"></div>
    <div class="sel"></div>
  </div>
  <div class="congrats">
    <h3><strong>Congratulations!</strong></h3>
    <h5><strong>Your daily goal is :</strong></h5>
    <h1><strong>1800 Calories</strong></h1>
  </div>

  <div class="bottombttn">
    <!-- <ion-buttons> -->
      <ion-button class="bttn"  [routerLink]="['/signup8']" fill="outline"><strong><span style="color:black;">Start Tracking Now</span></strong></ion-button>
    <!-- </ion-buttons> -->
  </div>


</ion-content>
